_codecademy: CSS > min/max width/height
body{
color:burntorange;
background-color:black;
}
h1{

}
p{
font-family: 'Megrim', cursive;
}





font-family: 'Lateef', cursive;
font-family: 'Dr Sugiyama', cursive;
